language: python
sudo: false
cache:
  apt: true
  directories:
    - $HOME/.cache/pip

python:
  - "2.7"

addons:
  apt:
    sources:
      - pov-wkhtmltopdf
    packages:
      - expect-dev
      - python-lxml
      - python-simplejson
      - python-serial
      - python-yaml
      - wkhtmltopdf

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

env:
  global:
  - VERSION="10.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"
  - PHANTOMJS_VERSION="latest"

  matrix:
  - LINT_CHECK="1"
  - TESTS="1" ODOO_REPO="jarsa/odoo"

virtualenv:
  system_site_packages: true

install:
  - git clone --depth=1 https://github.com/jarsa/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly
  - export WKHTMLTOPDF_VERSION=0.12.4

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
